@import url('https://fonts.googleapis.com/css?family=Montserrat:500%27');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cabin:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #24252A;
}

header, footer {
    display: flex;
    flex-direction: column;
    padding:.5em 5em;
    align-items: center;
    gap: 1em;
    font-family: 'Montserrat';
    font-size: 20px;
}

footer {
    margin-top: 2em;
}

ul {
    list-style: none;
}

a, footer {
    color:#edf0f1;
    text-decoration: none;

}

a:hover {
    transition: all 0.5s ease 0s;
    color:cadetblue
}

.nav-links li {
    display: inline-block;
}

.logo {
    margin-right:25px
}

.nav-links {
    display: flex;
    gap:3em;
}



button {
    width: 140px;
    height:72px;
    font-family: 'Montserrat', monospace;
    font-size: 18px;
    
}

.transfers {
    padding:1.5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trans-type {
    display: flex;
    gap:2em;
    margin-bottom:2em
}

.face-holder {
    margin: 2em 0em 0em 0em;
}

.clubs {
    margin:1em 0em
}

#direction {
    margin-right: 7px;
}

.trans-details {
    padding: 0em 5em 5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:rgb(57, 60, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.transfer-card-area {
    width: 1120px;
    display: flex;
    gap:1em;
    flex-wrap: wrap;
    justify-content: center;
}


.transfer-date, .player-position, .transfer-fee {
    margin-bottom: .5em;
}

.transfer-date, .player-position, .player-name {
    font-family: 'Cabin', sans-serif;
    color:white;
    font-size:20px
}

.player-name {
    padding-top: 1em;
    padding-bottom:3px;
    font-size:22px;
    border-bottom: 1px solid;
}

.transfer-fee {
    font-family: 'ADLaM Display', cursive;;
    font-size: 30px;
    color:crimson;
    border-bottom: 1px solid;
    padding-bottom: 3px;

}


